<header class="navbar">
	<div>
		<h3>OkOdin</h3>
	</div>
</header>


<div class="card-display">
	{{#each users as |user|}}
		<div class="card card-custom" style="width: 20rem;">

		  <img class="card-img-top" src="./images/viking_girl.jpg" alt="Card image cap">
		  <div class="card-block">
		    <h4 class="card-title">"{{user.fname}}"</h4>

		    <a href="#" class="btn btn-primary">Like?</a>
		  </div>
		</div>
	{{/each}}
</div>

<form action="/logout" method="POST">
	<button>Logout</button>
</form>



