<form action='/login' method='POST'>
	<div class="form-group">
		<label for='email'>Email:</label><br>
  	<input type="text" name="email"><br>
	</div>
  
   <button class="btn btn-primary">Login</button>
</form>

<form action="/register" method='GET'>
	<button class="btn btn-secondary">Register</button>
</form>

