<form action="/user/profile/new" method='POST'>
	<div class="form-group">
		<label for='city'>city</label>
		<input type='text' name='city' class="form-control"><br>
	  <label for='distance'>distance</label>
	  <input type='text' name='distance' class="form-control"><br>
	  <label for='gender'>gender</label>
	  <input type='text' name='gender' class="form-control"><br>
	  <label for='hobbies'>hobbies</label>
	  <input type='text' name='hobbies' class="form-control"><br>
	  <label for='ethnicity'>ethnicity</label>
	  <input type='text' name='ethnicity' class="form-control"><br>
	  <label for='height'>height</label>
	  <input type='text' name='height' class="form-control"><br>
	  <label for='weight'>weight</label>
	  <input type='text' name='weight' class="form-control"><br>
	  <label for='portfolio'>portfolio</label>
	  <input type='text' name='portfolio' class="form-control"><br>
	  <label for='offspring'>offspring</label>
	  <input type='text' name='offspring' class="form-control"><br>
	  <label for='description'>description</label>
	  <input type='text' name='description' class="form-control">
	</div>
	<button class='btn btn-primary'>Create</button>
</form>