<form action="">
	<div class="form-control">
		<label>city</label>
	  <label>distance</label>
	  <label>gender</label>
	  <label>hobbies</label>
	  <label>ethnicity</label>
	  <label>height</label>
	  <label>weight</label>
	  <label>portfolio</label>
	  <label>offspring</label>
	  <label>description</label>
	</div>
</form>